-webkit-::input-placeholder {
	color: #3A3434;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

::-moz-placeholder {
	color: #3A3434;
}

input:focus::-moz-placeholder {
	color: transparent;
}

:-moz-placeholder {
	color: #3A3434;
}

input:focus:-moz-placeholder {
	color: transparent;
}

:-ms-input-placeholder {
	color: #3A3434;
}

input:focus:-ms-input-placeholder {
	color: transparent;
}

*::-moz-selection {
	background: #075095;
	color: #f9f9f9;
}

*::selection {
	background: #075095;
	color: #f9f9f9;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline-color: transparent;
	font-family: Open Sans, Arial;
}

*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	margin: 0;
	padding: 0;
}

*[class*="wrap"]::after,
article::after,
aside::after,
details::after,
figcaption::after,
figure::after,
footer::after,
header::after,
hgroup::after,
main::after,
menu::after,
nav::after,
section::after,
summary::after {
	display: block;
	clear: both;
	content: '';
}

html {
	min-width: 1240px;
	width: 100%;
	background-color: #f3f3f3;
}

body {
	margin: 0 auto;
	min-width: inherit;
}

a {
	color: #001636;
	text-decoration: none;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

a:hover {
	opacity: 0.8;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

button:hover {
	opacity: 0.8;
}

.invalid {
	border-color: #EB6B56 !important;
}



.alg_itemPreview {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    text-align: center;
}
.alg_itemPreview img {
    width:320px;
    height: 450px;
}
.alg_itemCategory h3 {
    border-bottom: 2px solid #595959;
}
.custom.rightvideo {
    margin-bottom:20px;
}

.itemView h1.itemTitle {
    margin-top:0px;
}

.typography .b2j_contact h2 {
    margin:0px;
}
.typography div#b2jcontainer_m103.b2jcontainer {    
    padding:0px;
    background: none;
    border: none;    
    padding-left:50px;
}
.jicons-icons {
    display: none;
}
.rss_footer a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
    color: #fff;
    font-size: 16px;
}
.rss_footer a.alg_bottom_link {
    border-bottom:1px solid #fff;
    padding-bottom:2.666px;
}
div.itemListCategory {
    padding:0px;
}
#itemListSecondary .catItemView {
    padding:0px !important;
}
div.catItemImageBlock {
    padding-left:0px !important;
}
.typography .breadcrumb {
    margin-left: 54px;
    margin-bottom: -42px;
    float: left;
    width: auto;
}
.typography .breadcrumb .divider {
    padding:0px 3px;
}
.typography .breadcrumb .active span {
    top:0px;
}
.componentheading, div.contact .page-header h2 span {
    display:none;
}
div.contact {
    border: 4em solid #fff;
    border-top: 0px;   
    margin-top: 50px; 
}
.seoTxtHome {
    background: rgba(7, 80, 149, 0.7);
    color: #fff;
    padding: 20px;    
}
.seoTxtHome h1 {
    font-size:24px;
}
.seoTxtHome p {
    margin: 10px 0px;    
    font-size:14px;
    text-align: justify;
}
.k2ItemsBlock figure.post {
    position: relative;
}     
.k2ItemsBlock figure.post .viewCnt {
    padding-left: 23px;
    position: absolute;
    left: 80%;
    bottom: 0px; 
    color:#fff;
    font-size:13px;
    background: url("/images/views.png") left top  no-repeat;
    background-size:contain;
}      

div.itemHeader span.itemDateCreated, div.catItemHeader span.catItemDateCreated {
    font-size:13px;
}
.dib {
    display: inline-block;
    vertical-align: top;
}
.dim {
    display: inline-block;
    vertical-align: middle;
}
.shareTxt {
    margin-right: 10px;
    font-weight: bold !important;
}
.topNewsItem {
    width:24%;
    padding:10px;
}
.typography .topNewsItem * {
    font-size:13px;
}
.topNewsItem img {
    width:100%;
    min-height: 140px;
    height: auto;
}

.topNewsItem .topNewsItemPicture {
    width:100%;
    height: 140px;
    overflow: hidden;
}

.topNewsItem .topNewsItemDescription {
    margin-top:5px;
}

.topNewsHideText{
    overflow: hidden;
    height: 68px;
}

.left_anchor_full {
    display: none;
    position: fixed;
    z-index: 100;
    float: left;
    width: 55px;
    height: 100%;
    opacity: 0.5;
    cursor: pointer;
}

.left_anchor_full:hover {
    background: #E1E7ED;
}
.left_anchor_img{
    background: url(/images/toplink.gif) no-repeat;
    background-position: 3px 5px;
    width: 20px;
    margin-left: 11px;
    height: 15px;
}
nobr#stl_text {
    height: 14px;
    display: block;
    margin: 14px -14px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 11px;
    color: #45688E;
}

.poll {
    background-color: rgb(243, 243, 243); !important;
}

.poll-links {
    display: none;
}

.simpleVoteBlockContainer {
    text-align: center;
}

.simpleVoteBlock{
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    line-height: 40px !important;
    color: #fff !important;
    font-size: 14px;
    padding: 0 26px;
    display: inline-block;
    cursor: pointer;
    margin: 0px 5px;
}
.simpleVoteBlock.interest{
    background:#075095 ;
}

.simpleVoteBlock.interest:hover{
    background: #0aa1ff;
}

.simpleVoteBlock.nInterest{
    background: #b90000;
}
.simpleVoteBlock.nInterest:hover{
    background: #ff0000;
}

.simpleVoteBlock.notActual{
    background: #aba313;
}
.simpleVoteBlock.notActual:hover{
    background: #fff718;
}

.simpleVoteBlock.actual{
    background: #01ab56;
}
.simpleVoteBlock.actual:hover{
    background: #01ff88;
}
.poll-links {
    display: none !important;
}
.imgErrorPic {
    margin-left: 16%;
}

/* soical.css*/
.social {
    position: relative;
    width: 100%;
    margin-top: 60px;
    border-top: 1px solid #fff;
}

.social__title {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.social__lnk {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 45px;
    height: 24px;
    float: left;
}

.ya-share2__container_size_m .ya-share2__icon {
    height: 34px;
    width: auto;
    min-width: 34px;
    background-repeat: no-repeat;
    background-position: left center;
}
.ya-share2__counter:before {
    display: none;
}
.ya-share2__item_service_vkontakte .ya-share2__icon:after {
    content: "Вконтакте";
    color: #fff;
    font-size: 15px;
    position: relative;
    top: 6px;
    margin-left: 27px;
    margin-right: 10px;
}


.ya-share2__item_service_facebook .ya-share2__icon:after {
    content: "Facebook";
    color: #fff;
    font-size: 15px;
    position: relative;
    top: 6px;
    margin-left: 27px;
    margin-right: 10px;
}


.ya-share2__item_service_odnoklassniki .ya-share2__icon:after {
    content: "Одноклассники";
    color: #fff;
    font-size: 15px;
    position: relative;
    top: 6px;
    margin-left: 27px;
    margin-right: 10px;
}


.ya-share2__item_service_twitter .ya-share2__icon:after {
    content: "Twitter";
    color: #fff;
    font-size: 15px;
    position: relative;
    top: 6px;
    margin-left: 27px;
    margin-right: 10px;
}


.ya-share2__item_service_gplus .ya-share2__icon:after {
    content: "Google+";
    color: #fff;
    font-size: 15px;
    position: relative;
    top: 6px;
    margin-left: 27px;
    margin-right: 10px;
}





.social__lnk--vk {
    background-image: url("/images/social/vk.png");
    height: 18px;
    position: relative;
    top: 5px;
}
ul.ya-share2__list.ya-share2__list_direction_horizontal {
    margin-left:0px;
}
.ya-share2__badge {
    border-radius:0px;
}

span.ya-share2__counter.ya-share2__counter_visible {
    color: #fff;
    position: relative;
    top: 1px;
    margin-left: -7px;
    font-size: 15px;
}

.social__lnk--fb {
    background-image: url("/images/social/fb.png");
}

.social__lnk--gp {
    background-image: url("/images/social/gp.png");
}
.social__lnk--tw {
    background-image: url("/images/social/tw.png");
}
.social__lnk--od {
    background-image: url("/images/social/od.png");
}
.social__lnk--yt {
    background-image: url("/images/social/yt.png");
}


.infoUsrBlck{
    padding-left: 19px;
    display: inline-block;
    margin-left: 19px;
    height: 18px;
    color:#fff;
    font-size:13px;
}

.viewCntItem {
    background: url("/images/views.png") no-repeat;
    padding-left:22px;
    width: 19px;
    background-position-y: 6px;
}

.viewCntLikes{
    background: url("/images/likes.png")  no-repeat;
    width: 17px;
    background-position-y: 3px;
    margin-left: 35px;
}

.viewCntReposts {
    background: url("/images/reposts.png")  no-repeat;
    width: 16px;
    background-position-y: 2px;
    margin-left: 20px;
}

.viewCntComments{
    background: url("/images/comments.png") no-repeat;
    width: 16px;
    background-position-y: 6px;
    margin-left: 20px;
}

.darkThemeBclk{
    color:#fff;
    font-size:13px;
    margin-left: 175px;
    margin-top: -21px;
}


.darkThemeView {
    background: url("/images/darkViews.png") no-repeat;
    background-position-y: 3px;
}
.darkThemeLike {
    background: url("/images/darkLikes.png") no-repeat;
    margin-left: 30px;
}
.darkThemeRepost {
    background: url("/images/darkReposts.png") no-repeat;
}
.darkThemeComment {
    background: url("/images/darkComments.png") no-repeat;
    background-position-y: 2px;
}
.bottomCntViews{
    background-position-y: 3px;
}


