.social {
	position: relative;
	width: 100%;
	margin-top: 60px;
	border-top: 1px solid #fff;
}

.social__title {
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
	margin-bottom: 14px;
}

.social__lnk {
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
    width: 45px;
    height: 24px;
	float: left;
}

.ya-share2__container_size_m .ya-share2__icon {
    height: 34px;
    width: auto;
    min-width: 34px;
    background-repeat: no-repeat;
    background-position: left center; 
}
.ya-share2__counter:before {
    display: none;
}
.ya-share2__item_service_vkontakte .ya-share2__icon:after {
    content: "Вконтакте";
    color: #fff;
    font-size: 15px;
    position: relative;
    top: 6px;
    margin-left: 27px;
    margin-right: 10px;
}


.ya-share2__item_service_facebook .ya-share2__icon:after {
    content: "Facebook";
    color: #fff;
    font-size: 15px;
    position: relative;
    top: 6px;
    margin-left: 27px;
    margin-right: 10px;
}


.ya-share2__item_service_odnoklassniki .ya-share2__icon:after {
    content: "Одноклассники";
    color: #fff;
    font-size: 15px;
    position: relative;
    top: 6px;
    margin-left: 27px;
    margin-right: 10px;
}


.ya-share2__item_service_twitter .ya-share2__icon:after {
    content: "Twitter";
    color: #fff;
    font-size: 15px;
    position: relative;
    top: 6px;
    margin-left: 27px;
    margin-right: 10px;
}


.ya-share2__item_service_gplus .ya-share2__icon:after {
    content: "Google+";
    color: #fff;
    font-size: 15px;
    position: relative;
    top: 6px;
    margin-left: 27px;
    margin-right: 10px;
}





.social__lnk--vk {
	background-image: url("/images/social/vk.png");
    height: 18px;
    position: relative;
    top: 5px;    
}
ul.ya-share2__list.ya-share2__list_direction_horizontal {
    margin-left:0px;
}
.ya-share2__badge {
    border-radius:0px;
}

span.ya-share2__counter.ya-share2__counter_visible {
    color: #fff;
    position: relative;
    top: 1px;
    margin-left: -7px;
    font-size: 15px;
}

.social__lnk--fb {
	background-image: url("/images/social/fb.png");
}

.social__lnk--gp {
    background-image: url("/images/social/gp.png");
}
.social__lnk--tw {
    background-image: url("/images/social/tw.png");
}
.social__lnk--od {
    background-image: url("/images/social/od.png");
}
.social__lnk--yt {
    background-image: url("/images/social/yt.png");
}